<div class="container">
      <li class="nav-item">
        <div class="jumbotron">
          <h1>Gráficasx</h1>
        </div>
        <div class="chart-wrapper">
          <canvas baseChart 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
      </li>
    <div>
      <div class="alert alert-primary" role="alert">
        This is a primary alert—check it out!
      </div>
        <router-outlet></router-outlet>
    </div>
  </div>


