*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff7e3;
}

header{
    padding-top: 1%;
    padding-bottom: 3%; 
}

header img{
    width: 100ex;
    height: 30ex;
}

#logIn{
    background-color: #193d5a;
    color: white;
    width: 80px;
    height: 30px;
    margin-left: 90%;
}

#carrousel img{
    padding: 0% 25%;
    width: 50%;
    height: 50%;
}

#eventos{
    background-color: #2196f3;
    color: white;
    height: 70px;
    width: 150px;
}

#contact{
    position: fixed;
    top: 85%;
    bottom: 0;
    left: 0;
    right: 0;
    color: #c4ccb7;
    background-color: #193d5a;
    padding: 3% 10%;
    text-align: center;
}

