<div class="card-header text-center bg-primary">
        <div class="row justify-content-left mt-3">
                <div class="col-3 justify-content-center">
                    <div class=" pt-2 pb-2 p  bord ">
                        <a href="" class= "decoracion"><h2 class ="color">POLI VIEWER</h2></a>
                    </div>

                </div>
            </div>
        <a class="navbar-brand font-weight-bolder text-uppercase text-white" routerLink=''> POLI - VIEWER</a>
        <button id="add-to-favorites" routerLink="log-in"
                class="mdc-icon-button"
                aria-label="Add to favorites"
                aria-pressed="false">
                <i class="material-icons md-light">face</i>
        </button>
</div>



<router-outlet></router-outlet>
