<div id="descripcion" class="border border-dark">
    <h1>MARATONES DE PROGRAMACIÓN</h1>
    <p>Este es un espacio abierto a estudiantes de la institución, que estén interesados en la programación competitiva,
      participando en competencias contra otras universidades, en representación del Politecnico Grancolombiano.
      Estas competencias se realizan en grupos de tres personas, donde las tres cuentan con un solo computador y un set de
      problemas a realizar en un tiempo de cinco horas.<br> Las competencias de programación en la institucion son
      coordinadas por el profesor Edwin Niño, quien se encarga de preparar a los estudiantes para que obtengan un buen
      desempeño en estas competencias.</p>
  </div>