
.container-fluid {
    background-color: #1B224B;
}

.bord {
    background-color: #1592e6;
    border: solid; 
    border-radius: 20px;
    border-color:#666666;
}

.color{
    text-anchor: middle;
    color: white;
    font-style: italic;
}
.decoracion{
    text-decoration-color: #1592e6;
}

footer{
    background-color: #666666;
    height: 20%;
    color: white;
    text-align: center;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
}