.container-fluid {
    background-color: #1B224B;
}

.color{
    text-anchor: middle;
    color: white;
    font-style: italic;
}
.decoracion{
    text-decoration-color: #1592e6;
}

.card-footer{
    background-color: #666666;
}