<div class="container-fluid">
    <div class="row justify-content-between pt-3 pb-3">
        <div class="col-3 bord text-center ml-5">
            <a href="" class="decoracion">
                <h2 class="color pt-2">POLI VIEWER</h2>
            </a>
        </div>
        <button routerLink="log-in" class="mdc-icon-button mr-5" aria-label="Add to favorites" aria-pressed="false">
            <i class="material-icons md-light">face</i>
        </button>
    </div>
</div>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="pt-5">
        <h5>Contáctenos: 3116479384</h5>
        <h5>Correo: poliviewer@outlook.com</h5>
        <a class="navbar-brand font-weight-bolder text-uppercase text-white" href="https://www.poli.edu.co/"
            target="blank">
            <u>Politécnico Grancolombiano</u> </a>
    </div>
</footer>