<div class="container">
    <div class="row justify-content-center">        <!--    Fila para cada evento   -->
        <div class="col-lg-9">                      <!--    Columna a la izquierda para desc. del evento y el boton -->
            <div class="principal rounded p-3">
                <h3>Cybersecurity</h3>
                <p>Este es un evento creado para profesores, estudiantes y personal de la comunidad academica, que esten
                    interesados en la seguridad informatica...</p>
            </div>
            <button class="btn mt-3 rounded-pill border-dark">Inscribirme</button>
        </div>
        <div class="col-lg-3">                      <!--    Columna a la derecha para el icono y contador de personas inscritas-->
            
        </div>
    </div>
</div>