.container{
    margin: 2% 10%;
}

.principal {
    border: solid;
    border-color: #1B224B;
    color: #666666;
}

.btn {
    background-color: #1592E6;
    font-size: x-large;
    width: 30%;
    height: 25%;
    margin-inline-start: 1%;
}

.bi{
   justify-content: center; 
}

.helper{
    text-align: center;
    color: white;
    width: 60%;
    height: 15%;
    border-style: ridge;
    border-width: 1px;
    border-color: black;
    background-color: #1592E6;
    
}