<div>
<div class = "container">
    <div class ="row ">
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-5">
            <div class=" pl-4 pt-3 pb-3   ">
                
                <P class = "color1" >ACCESO ÚNICO PARA ADMINISTRATIVOS Y DOCENTES</P >
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-3">
            <p class ="color2">USUARIO</p>
            <input  class="board1"  style="width: 250px; height: 40px;" maxlength="50" name="UsernameInput"  [(ngModel)]="UsernameInput">
                
        </div>
    </div>
    
    <div class="row justify-content-center mt-3">
        <div class="col-3">
            <p class ="color2">CONTRASEÑA</p>
            <input type="text" name="passwordInput" [(ngModel)]="passwordInput" class="form-control">   
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        
      <div class="row justify-content-rigth mt-3">
            <button type="button" class="btn btn-primary btn-lg" (click)="verifyUser(UsernameInput,passwordInput)">log-in</button>
      </div>
    </div>






    <div class ="row mt-5 ">
    </div>

</div>
</div>