.container-fluid{
    padding-top: 10%;
    height: 100%;
    background-color: #1b224b;
}

.color{
    text-anchor: middle;
    color: white;
    font-style: italic;
}
.color1{
    padding-left: 10%;
    margin-bottom: 5%;
    text-anchor:middle;
    color: white;
    text-align: left;
    font-size: 15px;
}
.color2{
    text-anchor:middle;
    color: white;
    text-align: left;
    font-size: 13px;
}